# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
venv/
.env/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Database
# ==========================================
*.db
*.sqlite3

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Streamlit Cache
# ==========================================
.streamlit/

# ==========================================
# Python Build
# ==========================================
build/
dist/
*.egg-info/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/